.header__icon {
  position: absolute;
  height: 4em;
  width: 4em;
  background-image: url(../images/dice-01.svg);
}

.header__icon:active {
  animation: shake 0.6s cubic-bezier(.8,.2,.2,.8) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  /*filter: blur(1px);*/
}

@keyframes shake {
  0%, 100% { transform: translate(0px, 0px) rotate(0deg); }
  20%, 60% { transform: translate(-6px, 6px) rotate(10deg); }
  40%, 80% { transform: translate(4px, -4px) rotate(-10deg); }
}