.ButtonLink {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--text-color);
    border: 2px solid var(--text-color);
    color: var(--background);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.ButtonLink:hover {
    background-color: var(--background);
    border: 2px solid var(--text-color);
    color: var(--text-color);
}