:root {
    --background: #222;
    --text-color: #eee;
}

* {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'segoe UI';
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
}

img {
    max-width: 10em;
    margin: 0 auto;
    object-fit: cover;
}