:root {
    --background: #222;
    --text-color: #eee;
}

* {
    background-color: var(--background);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    min-width: calc(320px - 4em);
    margin: 0 auto;
    padding: 1em;
}