:root {
    --background: #222;
    --text-color: #eee;
}

* {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'segoe UI';
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    min-width: calc(320px - 4em);
    margin: 0 auto;
    padding: 1em;
}

.PhotoUser {
    max-width: 12em;
    margin: 5em auto 1em;
    object-fit: cover;
    border: 5px solid var(--text-color);
    border-radius: 100%;
}

.Red {
    background-color: tomato;
}